#required, TunnelAddress
serverAddr: conn4.trs.ai:9082
#required, proxy protocol
protocols:
  - name: http
    auth: user2:pwd2,user3:pwd1
  - name: socks5
    auth: user2:pwd2,user3:pwd1


#not required,
userId: client16

#Not required,
logTo: ./all.log

#Not required, logLevel FINE DEBUG INFO WARNING ERROR
logLevel: DEBUG